.card {
    display: flex;
    width: 60%;
    background-color: rgb(9, 17, 9);
    border-radius: 4px;
    margin: 10px;
    max-height: 200px;
    overflow: hidden;
}

.card hr {
    width: 40%;
    border-color: rgb(4, 7, 4);
}
.card-left {
    width: 40%;
}

.card-left img {
    height: 100%;
}

.card-description {
    height: 30%;
    font-size: 80%;
    padding: 8px;
    text-transform: lowercase;
}

.card-right {
    display: flex;
    width: 60%;
    background-color: rgb(9, 17, 9);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-techs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-techs p {
    background-color: rgb(4, 7, 4);
    border-radius: 4px;
    padding: 2px;
    margin: 8px;
    width: 4em;
    text-align: center;
    font-size: 80%;
    font-weight: normal;
}
