<div id="section-content">
<div id="about-header">
    <h2>J M Salvi</h2>
    <h3>Engineer | Developer | Scientist | Architect</h3>
  <div id="about-profile">
    <img class="profile" src="/assets/face.jpg">
    <div id="about-content">
      <p>Over 6 years of professional experience as a software engineer working at large companies such as IBM and Ford, small-to-midsized 
        businesses and startups, freelancing, and developing my own projects and applications. Along the way, I've filled roles as diverse as 
        data scientist, product manager, writer, and R&D engineer. <br /><br />I have a drive to build and see my creations come to life;
        it pushes me forward every day.
      </p>
    </div>
  </div>
</div>
</div>
