<div id="section-content">
<div id="about-header">
  <img class="profile" src="/assets/face.jpg">
  <h2>J M Salvi</h2>
  <h3>Developer | Scientist | Piemaker</h3>
</div>
<hr />
<div id="about-content">
  <p>I live in Michigan, and have 6+ years of professional experience as a software engineer working at large companies such as IBM and Ford, 
    small-to-midsized businesses and startups, freelancing, and developing my own projects and applications. I've filled roles 
    as diverse as data scientist, product manager, writer, and tech evangelist, but my passion lies in building and making things.</p>
    <p>I have worked in a wide variety of technology stacks including Java/Spring, nodejs/Express, PHP/Zend, Python/Flask as well as front-end
      frameworks including Angular, React, Vue, and others.</p>
</div>
</div>
