:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00BBF0;
    width: 100%;
    min-height: 100vh;
}

#section-content {
    width: 50%;
    min-width: 300px;
    padding:10%;
}

p {
    padding: 10px;
}

#about-content {
    border-radius: 5px;
    background-color: white;
    color: #374C8A;
}

.profile {
    border-radius: 50%;
    border: 2px solid white;
}