:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00BBF0;
    width: 100%;
    min-height: 35vh;
}

#section-content {
    width: 50%;
    min-width: 300px;
    padding:10%;
}

hr {
    width: 100px;
    height: 1px;
    background-color:  #374C8A;
}

#about-content {
    margin: 10px;
    padding: 5px;
}
p:first-child:first-letter {
    float: left;
    font-family: Georgia;
    font-size: 2.4em;
    padding-right: 4px;
    margin-top: 0;
  }
.profile {
    border-radius: 50%;
    border: 2px solid white;
}

#about-profile {
    display: flex;
    align-items: center;
    flex-direction: row;
}