<div id="section-content">
<div id="about-header">
    <h2>J M Salvi</h2>
    <h3>Software Engineer | Web & Mobile Developer | Neuroscientist</h3>
  <div id="about-profile">
    <img class="profile" src="/assets/face.jpg">
    <div id="about-content">
      <p>My career has been a natural extension of my drive for building and creating things. I have 6+ years of professional experience as a 
        software engineer working at large companies such as IBM and Ford, small-to-midsized businesses and startups, freelancing, and developing 
        my own projects and applications. Along the way, I've filled roles as diverse as data scientist, product manager, writer, and tech 
        evangelist.
      </p>
    </div>
  </div>
</div>
</div>
