:host {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

#section-content {
    display: flex;
    width: 30%;
    min-width: 200px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

i {
    margin-right: 0.5em;
}
a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}