html {
    background-color: rgb(9, 14, 9);
    color: rgb(45, 133, 45);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 10px rgb(113, 190, 113);
}

h2 {
    font-weight: 100;
}